<!DOCTYPE html>
<html lang="it">
{% include ':default:head.html.twig' %}
<body>
{% include ':default:menu.html.twig' %}
{% include ':default:blocco-header.html.twig' %}
{% include ':default:blocco-servizi.html.twig' %}
{% include ':default:blocco-caratteristiche.html.twig' %}
{% include ':default:blocco-banner.html.twig' %}
{% include ':default:blocco-pacchetti.html.twig' %}
{% include ':default:blocco-contatore.html.twig' %}
{% include ':default:blocco-testimonial.html.twig' %}
{% include ':default:blocco-calltoaction.html.twig' %}
{% include ':default:blocco-contatti.html.twig'%}
{% include ':default:footer.html.twig' %}
{% include ':default:blocco-scrolltotop.html.twig' %}
{% include ':default:loader.html.twig' %}
{% include ':default:js.html.twig' %}
</body>
</html>