<header id="video-area" data-stellar-background-ratio="0.5">
    <div id="block" data-vide-bg="video/video"></div>
    <div class="fixed-top">
        <div class="container">
            <div class="logo-menu">
                <a href="/" class="logo"><span class="lnr lnr-power-switch"></span> HISS</a>
                <button class="menu-button" id="open-button"><i class="lnr lnr-menu"></i></button>
            </div>
        </div>
    </div>
    <div class="overlay overlay-2"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <div class="contents text-center">
                    <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">HISS<br>High Scalability Security System</h1>
                    <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Sistemi ioT per la domotica e sistemi antifurto casalinghi ed aziendali made in Italy </p>
                    {#<a href="#" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms"><i class="lnr lnr-download"></i> Download</a>#}
                </div>
            </div>
        </div>
    </div>
</header>