<section id="download" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Scarica l'App<span><br>oppure<br></span>accedi all' Area Riservata</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
                    <a href="#" class="btn btn-border"><i class="fa fa-telegram"></i>Scarica App</a>
                    <a href="#" class="btn btn-border"><i class="fa fa-eye"></i>Accedi</a>
                </div>
            </div>
        </div>
    </div>
</section>