<div id="pricing" class="section pricing-section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">I nostri <span>pacchetti</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy <br> nibh euismod tincidunt ut laoreet dolore magna.</p>
        </div>

        <div class="row pricing-tables">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="lnr lnr-checkmark-circle"></i>
                    </div>
                    <div class="pricing-details">
                        <h2>Starter</h2>
                        <span>€ 499</span>
                        <ul>
                            <li>2 sensori di movimento PIR</li>
                            <li>1 sensore perdita di gas</li>
                            <li>2 sensori porta/finestra </li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Contattaci ora</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="lnr lnr-checkmark-circle"></i>
                    </div>
                    <div class="pricing-details">
                        <h2>Standard</h2>
                        <span>€ 599</span>
                        <ul>
                            <li>2 sensori di movimento PIR</li>
                            <li>1 sensore perdita di gas</li>
                            <li>2 sensori porta/finestra </li>
                            <li>+ 1 sensori bonus a scelta </li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Contattaci ora</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-table table-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="lnr lnr-checkmark-circle"></i>
                    </div>
                    <div class="pricing-details">
                        <h2>Premium</h2>
                        <span>€ 699</span>
                        <ul>
                            <li>4 sensori di movimento PIR</li>
                            <li>1 sensore perdita di gas</li>
                            <li>4 sensori porta/finestra </li>
                            <li>+ 2 sensori bonus a scelta</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Contattaci ora</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="pricing-table table-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="lnr lnr-magic-wand"></i>
                    </div>
                    <div class="pricing-details">
                        <h2>Personalizzato</h2>
                        {#<span>Richiesta preventivo</span>#}
                        <ul>
                            <li>Sistemi a partire da 1 a 20 sensori</li>
                            <li>Sensori di movimento PIR</li>
                            <li>Sensore perdita di gas</li>
                            <li>Sensori porta/finestra </li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#" class="btn btn-common">Contattaci ora</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>